---
import { TablePrice } from "../../componets/TablePrice";
import Layout from "../../layouts/Layout.astro";


---

<Layout>
    <div class="text-center space-y-4 py-4">
        <h1 class="font-semibold text-xl">Tabela de Preços</h1>
        <div class="w-full h-[1px] bg-[#ECEFF3]"></div>
        <div class="text-[#999999] text-sm">
            <p>Todos os nossos preços.</p>
            <p>Explore.</p>
        </div>
    </div>
    <TablePrice />
</Layout>